{% extends "base.html" %}
{% block content %}

<h1>Hello World</h1>

<h2>Some useful resources</h2>
<ul>
    <li><a href="https://github.com/mitsuhiko/flask/wiki/Large-app-how-to" target="blank">Large app how to</a></li>
    <li><a href="http://flask.pocoo.org/docs/blueprints/#blueprints" target="blank">Modular Applications with Blueprints</a></li>
    <li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xv-ajax" target="blank">Flask Mega-Tutorial</a></li>
    <li><a href="https://github.com/icecreammatt/flask-empty/blob/master/app/core/repository.py" target="blank">This other flask template</a></li>
</ul>

{% endblock %}